* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#LIVE-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: calc(100vh - 107px);
}

.sport-nav-bar-wrapper {
    display: flex;
    background: #303030;
    color: #9c9c9c;
}

.sport-nav-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 11px;
    padding: 5px;
}

.active-nav-bar-item > div{
    color: #fff;
    filter: grayscale(0);
}
