.esports-img {
    background: url('https://www.yess365.com/login/livebet/m/images/sports/BIG_Sp_Cricket2.png?v=1.1') center no-repeat;
    height: 30px;
    width: 30px;
    background-size: contain;
    filter: grayscale(1);
}